main {
    margin-top: 50px;
}

td {
    vertical-align: middle !important;
}

td.command {
    width: 0;
}

.checkboxes div {
    float: left;
}

.data {
    position: relative;
}

.w3-btn-floating {
    position: absolute;
    top: -20px;
    right: 10px;
}
