main {
    margin-top: 50px;
}

section header {
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
}

td {
    vertical-align: middle !important;
}

td.command {
    width: 1px;
}

.checkboxes div {
    float: left;
}

.relative {
    position: relative;
}

.header-up-btn-1 {
    position: absolute;
    top: -20px;
    right: 10px;
}

.header-down-btn-1 {
    position: absolute;
    top: 30px;
    right: 20px;
}

.header-down-btn-2 {
    position: absolute;
    top: 30px;
    right: 70px;
}
